

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система тестирования знаний</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/images/favicon.ico">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

</head>
<body>
    <div class="container">
        <div class="nav">
            <a href="/">Главная</a>
            <a href="/questions">Вопросы</a>
            <a href="/statistics">Статистика</a>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <p>Разработано для оценки профессиональных навыков сотрудников.</p>
       <p> Поддержите разработчика на Github - <a href="https://github.com/Sashamoree/">Sashamoree</a></p>
    </div>
</body>
</html>